package network

config device
    option name 'wan.832'
    option type '8021q'
    option ifname 'wan'
    option vid '832'
    list egress_qos_mapping '1:0'
    list egress_qos_mapping '0:6'
    list egress_qos_mapping '6:6'

config interface 'wan'
    option broadcast '1'
    option device 'wan.832'
    option proto 'dhcp'
    option vendorid 'sagem'
    option hostname '*'
    option norelease '1'
    option reqopts '1 3 6 15 28 51 58 59 90 119 125'

config interface 'wan6'
    option defaultreqopts '0'
    option device 'wan.832'
    option noacceptreconfig '1'
    option noclientfqdn '1'
    option proto 'dhcpv6'
    option reqaddress 'none'
    option reqopts '11 17 23 24'
    option reqprefix 'auto'
