package network

config interface 'wan'
    option broadcast '1'
    option ifname 'eth1.832'
    option proto 'dhcp'
    option reqopts '0x01 0x15 0x28 0x51 0x58 0x59 0x90'
    option vendorid 'sagem'

config interface 'wan6'
    option defaultreqopts '0'
    option ifname 'eth1.832'
    option noacceptreconfig '1'
    option noclientfqdn '1'
    option proto 'dhcpv6'
    option reqaddress 'none'
    option reqopts '11 17 23 24'
    option reqprefix 'auto'

config switch_vlan 'cfg071ec7'
    option vid '1'

config switch_vlan 'cfg081ec7'
    option ports '4t 6t'
    option vid '832'
